body {
  background-image: url(../images/background-min.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.wrapper {
  width: 50%;
  min-width: 1024px;
  margin: 0 auto;
  text-transform: uppercase;
}

header {
  margin: 0 auto;
  width: 90%;
  font-size: 130%;
  font-family: 'Pathway Gothic One', sans-serif;
}

h1 {
  margin: 0;
  text-align: center;
  font-weight: 400;
  background-color: #ffffff;
  color: #263555;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  font-family: 'Dorsa', sans-serif;
  font-size: 300%;
  line-height: 2.2;
}

.menu {
  margin: 50px auto;
}

.menu__item {
  display: flex;
  justify-content: space-between;
  width: 90%;
  list-style: none;
  align-items: baseline;
}

.menu__item>li {
  position: relative;
}

.menu__item>li>a {
  display: block;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}

.menu__item>li>a:hover {
  color: #263555;
}

.submenu {
  position: absolute;
  padding-top: 30px;
  visibility: hidden;
  transition: all .7s;
  opacity: 0;
  left: -3px;
  top: 10px;
}

.submenu>ul {
  position: relative;
  background-color: #ffffff;
  list-style: none;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 3px;
}

.submenu>ul::before {
  content: '';
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 5px 8px 5px;
  border-color: transparent transparent #ffffff transparent;
  top: -8px;
  left: 18px;
}

.submenu>ul a {
  display: block;
  line-height: 20px;
  text-align: center;
  color: #6b7488;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 15px;
}

.menu__item>li:hover .submenu {
  display: block;
  visibility: visible;
  opacity: 1;
}

main {
  margin: 0;
  background-color: #ffffff;
  padding: 90px 60px 0;
  font-family: 'Pathway Gothic One', sans-serif;
}

h2 {
  color: #263555;
  padding-bottom: 40px;
}

.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.gallery>div {
  width: 288px;
  height: 154px;
  text-align: center;
  line-height: 12;
  margin-bottom: 40px;
  background-size: contain;
  background-repeat: no-repeat;
}

.gallery>div:first-child {
  background-image: url(../images/slade1-min.jpg);
}

.gallery>div:nth-child(2) {
  background-image: url(../images/slade2-min.jpg);
}

.icon {
  display: none;
}
.svg {
  width: 40px;
  height: 40px;
}

.gallery>div:hover>.icon {
  display: block;
}

.gallery>div:hover {
  -webkit-filter: brightness(40%);
}

.gallery>div:nth-child(3) {
  background-image: url(../images/slade3-min.jpg);
}

.gallery>div:nth-child(4) {
  background-image: url(../images/slade4-min.jpg);
}

.gallery>div:nth-child(5) {
  background-image: url(../images/slade5-min.jpg);
}

.gallery>div:nth-child(6) {
  background-image: url(../images/slade6-min.jpg);
}

.gallery>div:nth-child(7) {
  background-image: url(../images/slade7-min.jpg);
}

.gallery>div:nth-child(8) {
  background-image: url(../images/slade8-min.jpg);
}

.gallery>div:nth-child(9) {
  background-image: url(../images/slade9-min.jpg);
}

footer {
  height: 130px;
  background-color: #30455b;
  vertical-align: top;
  margin: 0 0 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-family: 'Pathway Gothic One', sans-serif;
}

footer>div>ul {
  list-style: none;
  padding-left: 0;
}

footer>div>ul>li>a {
  text-decoration: none;
  color: #ffffff;
}

footer>div>ul>li {
  color: #ffffff;
  line-height: 2;
}

.contact {
  line-height: 1.2;
  font-size: 80%;
  padding-top: 5px;
}

.social {
  width: 25%;
  height: 50px;
  margin: auto;
  display: flex;
}

.nav {
  margin: auto;
  padding: 0;
  list-style: none;
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.sprite {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.sprite>a {
  display: inline-block;
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.sprite:nth-of-type(1)>a {
  background-image: url('../images/social.png');
  background-repeat: no-repeat;
  background-position: 0px 0px;
}

.sprite:nth-of-type(2)>a {
  background-image: url('../images/social.png');
  background-repeat: no-repeat;
  background-position: -53px 0px;
}

.sprite:nth-of-type(3)>a {
  background-image: url('../images/social.png');
  background-repeat: no-repeat;
  background-position: -105px -0px;
}

.sprite:nth-of-type(4)>a {
  background-image: url('../images/social.png');
  background-repeat: no-repeat;
  background-position: -158px 0px;
}

.sprite>a:hover {
  box-shadow: 0 0 50px 0 #f44242;
}

.website {
  margin: 20px auto 25px;
  color: #ffffff;
  text-align: center;
}

.top {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #38afe5;
  position: fixed;
  right: 180px;
  bottom: 10px;
  text-align: center;
}

@media only screen and (max-width: 1023px) {
  .wrapper {
    min-width: 768px;
  }
  .menu__item {
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    max-width: 350px;
    margin: 0 auto;
    padding-left: 0;
  }
  .menu__item li {
    width: 70px;
    padding: 10px 10px 10px 15px;
  }
  ul.menu__item .logo {
    width: 100%;
    padding: 10px;
    order: -1;
  }
  h1 {
    margin: 0 auto;
  }
  .submenu>ul>li {
    width: 30px;
    height: auto;
    padding: 0 5px;
  }
  .submenu {
    left: 25px;
    z-index: 10;
  }
  .gallery>div:nth-child(9) {
    display: none;
  }
  .top {
    right: 140px;
    bottom: 10px;
  }
  .tours {
    padding-left: 4px;
  }
  .blog {
    padding-right: 10px;
  }
  .contacs {
    padding-left: 2px;
  }
  .website {
    font-size: 70%;
  }
}

@media only screen and (max-width: 768px) {
  .wrapper {
    min-width: 480px;
  }
  .menu__item {
    max-width: 230px;
    padding-left: 0;
  }
  .menu__item>li {
    width: auto;
  }
  .gallery {
    justify-content: center;
  }
  .gallery>div {
    width: 100%;
    height: 230px;
    background-size: 120%;
    margin-bottom: 40px;
    padding: 0;
  }
  .social {
    width: 40%;
  }
  .website {
    font-size: 60%;
  }
  .tours {
    padding: 0;
  }
  .blog {
    padding-right: 5px;
    padding-left: 10px;
  }
  .about {
    padding-left: 10px;
  }
  .submenu {
    left: 22px;
    z-index: 10;
  }
  .top {
    right: 160px;
    bottom: 10px;
  }
  .gallery>div {
    line-height: 16;
  }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .gallery>div:first-child {
    background-image: url(../images/slade1-ret.jpg);
  }
  .gallery>div:nth-child(2) {
    background-image: url(../images/slade2-ret.jpg);
  }
  .gallery>div:nth-child(3) {
    background-image: url(../images/slade3-ret.jpg);
  }
  .gallery>div:nth-child(4) {
    background-image: url(../images/slade4-ret.jpg);
  }
  .gallery>div:nth-child(5) {
    background-image: url(../images/slade5-ret.jpg);
  }
  .gallery>div:nth-child(6) {
    background-image: url(../images/slade6-ret.jpg);
  }
  .gallery>div:nth-child(7) {
    background-image: url(../images/slade7-ret.jpg);
  }
  .gallery>div:nth-child(8) {
    background-image: url(../images/slade8-ret.jpg);
  }
  .gallery>div:nth-child(9) {
    background-image: url(../images/slade9-ret.jpg);
  }
}
